<h2>Find A Tester</h2>
<form method="post" action="/cgi-bin/cpanmail.cgi">
<table class="matrix">
<tr><td class="nntp">NNTP ID:</td>
    <td><input type="text" name="nntpid" value="" size="20" /></td>
    <td><input type="submit" name="SEARCH" value="SEARCH" /></td>
</tr>
</table>
</form>

<p>This form is purely to be used by distribution authors to obtain the address of a tester,
due to the web interface of the NNTP server hiding such to prevent spamming.</p>
<p>If this form is
seen to generate spam attacks on testers, further anti-spam restrictions will be put into
place. Please use with care.</p>

<h3>What is an NNTP ID?</h3>
<p>If you're new to CPAN Testers, then you may not be aware of what an NNTP ID
is. Currently CPAN Testers reports are publicly available via the NNTP server,
looked after by the guys at perl.org. In order to retrieve a particular article
from the NNTP server, you need an NNTP ID. If you are an author and have received
a Daily Report, the ID is the numeric part at the end of the report link. On the
CPAN Testers Reports site, the NNTP ID is the number that is used to link to the
report on the NNTP server. Once you click through to the web interface of the 
NNTP server, then the URL is the number after 'msg' and before '.html'.</p>
<p>The examples below highlight the NNTP ID in URLs you are likely to see:</p>
<ul>
<li>http://www.nntp.perl.org/group/perl.cpan.testers/<span class="emphasis">2243887</span></li>
<li>http://www.nntp.perl.org/group/perl.cpan.testers/2008/09/msg<span class="emphasis">2243887</span>.html</li>
</ul>