[% 
    title = 'Distribution PASS List' ;
    box_sites = 1
%]

[% 
    IF OS ;
      name1 = 'By OS' ;
      link1 = '/osmatrix' ;
    ELSE ; 
      name1 = 'By Platform' ;
      link1 = '/pmatrix' ;
    END ;
%]

[% 
    IF FULL ;
      link1 = link1 _ '-full' ;
    END ;

    IF MONTH ;
      link1 = link1 _ '-month' ;
      title = title _ ' (Last Month)' ;
    END ;

    crumb3_name = 'Matrices' ;
    crumb3_href = '/' ;
    crumb2_name = name1 ;
    crumb2_href = link1 _ '.html' ;
    crumb1_name = 'Distributions' ;

    IF MONTH ;
      crumb1_name = crumb1_name _ ' (Last Month)' ;
    END ;
%]

<table summary="Platform Info">
<tr><th class="top">PLATFORM:</th><td>[% vplatform %]</td></tr>
<tr><th class="top">PERL:</th><td>[% vperl %]</td></tr>
<tr><th class="top">COUNT:</th><td>[% count %]</td></tr>
</table>

<p>All the distributions listed below have had at least one PASS report
submitted to the cpan-testers mailing list, for this instance of platform and
perl.</p>

<ul>
[% FOREACH dist = dists %]
<li><a href="http://search.cpan.org/dist/[% dist %]">[% dist %]</a></li>
[% END %]
</ul>
