<h2>Platform/Perl Matrix for Distributions prior to [% RUNDATE %]</h2>
<p>The matrix below represents the distributions that have received at least
one PASS report submitted to the cpan-testers mailing list, for a particular
version of the perl interpreter and a particular platform. Note that patched
versions of perl are mapped to their major/minor release of perl. All reports
recorded are from August 1999 until [% RUNDATE %].</p>
<p>Click on the values in the matrix to see the distribution list that has been
tested and PASSed for that instance.</p>
[% CONTENT %]
