<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">
<head>

<title>CPAN Testers Statistics</title>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="title"       content="CPAN Testers Statistics" />
<meta name="author"      content="Barbie" />
<meta name="language"    content="en" />
<meta name="keywords"    content="perl, cpan, test, testing, tester, testers, stat, statistics, reports, yacsmoke, smoke, smoker, black box, automated, automation" />
<meta name="description" content="Analysis of reports submitted by the CPAN Testers community, who automatically black box test submissions to Perl's CPAN code repository" />

<link href="/style.css" rel="stylesheet" type="text/css" />
<link rel="alternate"  type="application/rss+xml"  title="RSS 2.0" href="http://stats.cpantesters.org/rss-2.0.xml" />

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1826389-9";
urchinTracker();
</script>

<script type="text/javascript">
<!--
function goThere(loc) {
  window.location.href=loc;
}
// -->
</script>
</head>

<body>

<div class="top"><a href="index.html">CPAN Testers Statistics</a></div>
<div class="nav">
<table id="header">
<tr><th>Main</th>
    <td rowspan="2">||</td>
    <th>Monthly Stats</th>
    <td rowspan="2">||</td>
    <th>Matrices</th>
    <td rowspan="2">||</td>
    <th>Failures</th>
    <td rowspan="2">||</td>
    <th>Tools</th>
    <td rowspan="2"><span style="color:#f00">August 1999 - [% STATDATE %]</span></td>
</tr>
<tr><td>
        <a href='/index.html'>Home</a> |
        <a href='/graphs.html'>Graphs</a> |
        <a href='/testers.html'>Leader Board</a> |
        <a href='/interest.html'>Interesting Stats</a> |
        <a href='/updates.html'>Blog</a> |
        <a href='/rss-2.0.xml'>RSS Feed</a>
    </td>
    <td>
        <a href='/mreports.html'>Reports</a> |
        <a href='/mtesters.html'>Testers</a> |
        <a href='/mplatforms.html'>Platforms</a> |
        <a href='/mperls.html'>Perls</a>
    </td>
    <td>
        <a href='/rmatrix.html'>Reports</a> |
        <a href='/dmatrix.html'>Distributions</a>
    </td>
    <td>
        <a href='/wdists.html'>Counts</a> |
        <a href='/wpcent.html'>Percentage</a>
    </td>
    <td>
        <a href='/cpanmail.html'>Find A Tester</a> |
<select name="Redirect" onchange="goThere(this.options[this.selectedIndex].value)">
<option value="" selected="selected">Click to redirect</option>
<option value="http://www.cpantesters.org">CPAN Testers Reports</option>
<option value="http://wiki.cpantesters.org">CPAN Testers Wiki</option>
<option value="http://stats.cpantesters.org">CPAN Testers Statistics</option>
<option value="http://deps.cpantesters.org">CPAN Dependencies</option>
<option value="http://matrix.cpantesters.org">CPAN Testers Matrix</option>
<option value="http://pass.cpantesters.org">PASS Matrix</option>
</select>
    </td>
</tr>
</table>
</div>

<div class="content">

[% INCLUDE $SOURCE %]

</div>

<div class="footer">
	<p>Site generated with CPAN-Testers-WWW-Statistics-[% VERSION %], on <b>[% RUNDATE %]</b>.<br />
	CPAN Tester data generated <a href="http://search.cpan.org/dist/CPAN-Testers-Data-Generator">CPAN-Testers-Data-Generator</a>.<br />
	CPAN Testers Statistics site maintained by Barbie - <a href="mailto:barbie@cpan.org">barbie@cpan.org</a>.<br />
	</p>

	<p>The CPAN Testers server is supported and funded by <a href="http://birmingham.pm.org">Birmingham Perl Mongers</a>.</p>

	<div id="adverts">
	<script type="text/javascript"  src="http://adserver.szabgab.com/ads/direct_link_selflink.js?cnt=3&amp;noself=1"></script>
	<p>Ads provide by <a href="http://adserver.szabgab.com">The Perl Community AdServer</a></p>
	</div>
</div>
</body>
</html>
