[% 
    box_sites = 1 ;

    title = 'New Distributions submitted during ' _ year;
    crumb2_name = 'New Distributions' ;
    crumb2_href = '/newdistros.html' ;
    crumb1_name = year ;
%]

[% FOREACH month = newdistros.keys.nsort %]
<h2>New Distributions for [% newdistros.$month.month %] [% year %] ([% newdistros.$month.counter || '0' %])</h2>
<table>
<tr><th class="top">Author</th><th class="top">Distribution</th><th class="top">Version</th><th class="top">Release Date/Time</th></tr>
[% FOREACH dist = newdistros.$month.dists %]
<tr><td>[% dist.author %]</td><td>[% dist.dist %]</td><td>[% dist.version %]</td><td class="timestamp1">[% dist.reldate %]</td></tr>
[% END %]
</table>
[% END %]
