[% 
    title = 'Distributions With No Reports' ;
    box_sites = 1 ;

    crumb1_name = 'No Reports' ;
%]

<p>All distributions within the list below are all the latest versions of the respective distributions.
There is a 28 day grace period for all distributions, from the time they were released to PAUSE, until
a report is submitted for them. All the distribution versions below have not received any reports, and 
exceed this 28 day grace period.</p>
<p>Reasons why distribution may appear in this list can be many, below are just a few:</p>
<ul>
<li>Distribution requires a C (or other language) library that is not installed</li>
<li>Distribution prompts for user input, with no suitable default, and loops</li>
<li>Distribution fails to run an external command (with incorrect options?)</li>
<li>Distribution hangs due to undefined environment variables</li>
<li>Distribution appears on tester's ignore lists (possibly for one of the above reasons)</li>
</ul>
<p>If you have been added to an ignore list, you can check those of some common testers.</p>
<ul>
<li><a href="https://github.com/eserte/srezic-cpan-distroprefs">Slaven Rezi&#x0107;</a></li>
<li><a href="https://github.com/andk/cpanpm/tree/master/distroprefs">Andreas J. K&ouml;nig</a></li>
<li><a href="http://svn.trouchelle.com/perl/cpan/prefs/">Serguei Trouchelle</a></li>
<li><a href="http://svn1.hostlocal.com/szabgab/trunk/CPANTESTERS/win32/disabled.yml">Gabor Szabo</a></li>
</ul>

<p>If you resolve any issues which may have resulted in your distribution being added to an ignore list, 
please post to the <a href="http://lists.perl.org/list/cpan-testers-discuss.html">CPAN Testers Discuss</a> 
mailing list.</p>

<table summary="Distributions with no reports">
<tr><th class="top">DISTRIBUTION</th>
    <th class="top">VERSION</th>
    <th class="top">AUTHOR</th>
    <th class="top">RELEASED</th></tr>
[% FOREACH row = rows %]
[% IF row.display %]
<tr><td>[% row.dist %]</td>
    <td>[% row.version %]</td>
    <td>[% row.author %]</td>
    <td>[% row.datetime %]</td></tr>
[% END %]
[% END %]
</table>

<p>If any distribution should not be listed, please let <a href="mailto:barbie@cpan.org">me</a> know.</p>
