<h2>HIGHEST FAILURE COUNTS (as of [% DATABASE %])</h2>
<p>Order by Failure Count or Failure Percentage by clicking the appropriate column headings.</p>
<table>
<tr><th>POSITION</th><th>FAILURES</th><th>DISTRIBUTION</th><th>UPLOAD</th><th>PASSES</th><th>TOTAL</th><th><a href="wpcent.html">PERCENTAGE</a></th></tr>
[% IF WORST %]
[% FOREACH row = WORST %]
<tr><td align="right">[% row.0 %]</td>
    <td align="right">[% row.1 %]</td>
    <td><a href="http://www.cpantesters.org/show/[% row.7 %].html#[% row.2 %]">[% row.2 %]</a></td>
    <td>[% row.3 %]</td>
    <td align="right">[% row.4 %]</td>
    <td align="right">[% row.5 %]</td>
    <td align="right">[% row.6 %]</td></tr>
[% END %]
[% ELSE %]
<tr><td colspan="7">None found</td></tr>
[% END %]
</table>
<p>Failure rates are based on the last submitted version of a distribution only.
Failures are counted as reports posted as FAIL or UNKNOWN. Currently all reports are counted
individually, so any duplicate reports that are for the same version of Perl on the same platform
for the same distribution are NOT ignored. This may change in the future.</p>
<p>Missing Upload Dates - not all PAUSE uploads get posted to the cpan-testers mailing, as such
the local database doesn't record some upload dates.</p>
<p>All counts are recorded up until [% DATABASE %].</p>
